# Bỏ qua thư mục Visual Studio cache
.vs/
*.suo
*.v2
*.vsidx
*.bin

# Bỏ qua file .suo của Visual Studio
*.suo
.vs/

# Bỏ qua file user config của Visual Studio
*.csproj.user

# Bỏ qua thư mục build
bin/
obj/

# Bỏ qua file log & tạm thời
*.log
*.tmp
*.cache
/CHSMS/CHSMS.API/obj
CHSMS/CHSMS.API/obj/Debug/net6.0/CHSMS.API.GeneratedMSBuildEditorConfig.editorconfig
CHSMS/CHSMS.API/obj/Debug/net6.0/CHSMS.API.GeneratedMSBuildEditorConfig.editorconfig
